In [1]:
print('Matheys')

Matheys

### MEDIANA - valor central de um conjunto ordenado
### QUARTIS - divide em 4 partes
### Q1 - 25%
### Q2 - 50%
### Q3 - 75%

### CRTL + D + segurar = selecionar todos de uma vez

In [3]:
import numpy as np
import pandas as pd

In [1]:
dados =  np.array([12,15,17,20,22,25,28,30,35,40])
mediana = np.median(dados)
q1 = np.percentile(dados, 25)
q2 = np.percentile(dados, 50)
q3 = np.percentile(dados, 75)
print((f'primeiro quartil: {q1}'))
print((f'mediana: {mediana}'))
print((f'mediana: {q2}'))
print((f'terceiro quartil: {q3}'))

NameError: name 'np' is not defined

In [8]:
df = pd.read_csv('pesquisa_satisfacao.csv', sep=';')
df

         Cliente Satisfação  Tempo de Espera (min)
0         Naruto       Alta                      8
1           Goku       Alta                     10
2         Vegeta      Média                     17
3         Sasuke       Alta                      8
4         Madara      Média                     15
5          Luffy      Baixa                      5
6           Zoro       Alta                     22
7          Sanji      Baixa                     26
8         Yusuke      Baixa                     14
9         Kurama      Média                      8
10           Gon      Média                     12
11          Eren      Média                     28
12        Mikasa       Alta                      6
13         Light       Alta                     10
14             L       Alta                     19
15  Peter Parker      Baixa                     21
16   Bruce Wayne       Alta                     18
17        Thanos      Média                     19
18       Edmundo      Baixa                     13
19       Vegetti      Média                     19

In [ ]:
df_cliente = df[df['Cliente'] == 'Sanji']
df_cliente

  Cliente Satisfação  Tempo de Espera (min)
7   Sanji      Baixa                     26

In [ ]:
tempo_espera_array = np.array(df['Tempo de Espera (min)'])
mediana = np.median(tempo_espera_array)
q1 = np.percentile(tempo_espera_array, 25) ### equivalente ao primeiro quartil, que menos esperaram
q2 = np.percentile(tempo_espera_array, 50)
q3 = np.percentile(tempo_espera_array, 75)
print((f'primeiro quartil: {q1}'))
print((f'mediana: {mediana}'))
print((f'mediana (segundo quartil): {q2}'))
print((f'terceiro quartil: {q3}'))

primeiro quartil: 9.5
mediana: 14.5
mediana: 14.5
terceiro quartil: 19.0

In [ ]:
pesquisa_maiores = df.loc[df['Tempo de Espera (min)'] >= q3]
pesquisa_maiores

         Cliente Satisfação  Tempo de Espera (min)
6           Zoro       Alta                     22
7          Sanji      Baixa                     26
11          Eren      Média                     28
14             L       Alta                     19
15  Peter Parker      Baixa                     21
17        Thanos      Média                     19
19       Vegetti      Média                     19

In [ ]:
df.sort_values(by='Tempo de Espera (min)', ascending=False)

         Cliente Satisfação  Tempo de Espera (min)
11          Eren      Média                     28
7          Sanji      Baixa                     26
6           Zoro       Alta                     22
15  Peter Parker      Baixa                     21
17        Thanos      Média                     19
19       Vegetti      Média                     19
14             L       Alta                     19
16   Bruce Wayne       Alta                     18
2         Vegeta      Média                     17
4         Madara      Média                     15
8         Yusuke      Baixa                     14
18       Edmundo      Baixa                     13
10           Gon      Média                     12
13         Light       Alta                     10
1           Goku       Alta                     10
0         Naruto       Alta                      8
3         Sasuke       Alta                      8
9         Kurama      Média                      8
12        Mikasa       Alta                      6
5          Luffy      Baixa                      5

In [32]:
df_satisfacao = df.loc[df['Satisfação'] == 'Alta']
tempo_espera_array = np.array(df_satisfacao['Tempo de Espera (min)'])
mediana = np.median(tempo_espera_array)
media = np.mean(tempo_espera_array)
q1 = np.percentile(tempo_espera_array, 25) ###  não dá para dizer, acho que esperam menos pois a media geral é 14.5 de espera e a maioria ficou abaixo disso
q2 = np.percentile(tempo_espera_array, 50)
q3 = np.percentile(tempo_espera_array, 75)
print(df_satisfacao)
print((f'média: {media}'))
print((f'primeiro quartil: {q1}'))
print((f'mediana: {mediana}'))
print((f'mediana (segundo quartil): {q2}'))
print((f'terceiro quartil: {q3}'))

        Cliente Satisfação  Tempo de Espera (min)
0        Naruto       Alta                      8
1          Goku       Alta                     10
3        Sasuke       Alta                      8
6          Zoro       Alta                     22
12       Mikasa       Alta                      6
13        Light       Alta                     10
14            L       Alta                     19
16  Bruce Wayne       Alta                     18
média: 12.625
primeiro quartil: 8.0
mediana: 10.0
mediana (segundo quartil): 10.0
terceiro quartil: 18.25

In [30]:
df.describe()

       Tempo de Espera (min)
count              20.000000
mean               14.900000
std                 6.600638
min                 5.000000
25%                 9.500000
50%                14.500000
75%                19.000000
max                28.000000

In [35]:
baseDP = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep=';')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 7463: invalid continuation byte